$Big: (
    font-size: 96px,
    font-weight: 900
);

$Med: (
    font-size: 64px,
    font-weight: 700
);


body {
    background-color: #f8f9fa;
}

.title {
    font-size: map-get($Big, font-size);
    font-weight: map-get($Big, font-weight);
}

.sub-title {
    font-size: map-get($Med, font-size);
    font-weight: map-get($Med, font-weight);
}

.p {
    font-size: 16px;
    font-weight: 600;
}

.big-p {
    font-size: 24px;
    font-weight: 500;
}